body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .deleteBag {
  background-color: yellow;
  position: absolute; 
  border-radius: 16px;
  height: 50px;
  width: 50px;
  left: 200px;
  top: 594px;
} */



/* .text {
  padding-top: 663px;
    text-align: center;
}
.myNote {
  padding: 8px;
} */