.header {
    display: flex;
    background-color: #ffce44;
    margin: 12px;
  }
  .menuBtn {
    color: white;
    margin-left: 11px;
      margin-top: 18px;
  }
  .imageText {
    height: 45px;
      width: 45px;
      margin-left: 10px;
      margin-top: 7px;
   }  
   .headingTitle {
    color: aliceblue;
    margin-left: 5px;
   } 
   .searchBtn {
    color: white;
    margin-left: 10px;
  }
  .searchText{
    display: flex;
    margin-left: 1300px;
    align-items: center;
    border: hidden;
    background-color: wheat;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .inputBtn {
   margin-left: 4px;
  }